.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-flow: column;
    line-height: 50px;
    background-color: #1A1C1F;
}